*{
padding: 0;
margin: 0;
font-family: 'Raleway', sans-serif;
font-size: 15px;
color: grey;
font-weight: bold;
color: black !important;
text-decoration: none;
}
body {
    text-align: center;
    background-color: #ffffff;
}
label {
    color: black;
}
h3 {
    padding-bottom: 15px !important;
}
table{
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  background-color: #ffffff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
td tr{
  border-radius: 0;
  color: black !important;
}
h6 {
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 25px;
}
td {
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
table {
    text-align: inherit;
}
button {
    margin-top: 10px;
}
input[type="submit"] {
    color: black;
    font-weight: bold;
}
.button {
    padding-top: 10px;
    padding-bottom: 10px;

}
